<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置service和dao对象 -->
    <!-- 因为service依赖于dao，所以先进行dao对象的bean配置 -->
    <bean id="userDaoImpl" class="com.hardes.model.UserDaoImpl"></bean>
    <bean id="userService" class="User">
        <!--
            注入dao对象
            name属性值为：service中的某一属性名称
            ref属性值为：被引用的对象对应的bean标签的id属性值
         -->
        <property name="userDao" ref="userDaoImpl"></property>
    </bean>
</beans>