<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace命名空间，作用就是对sql进行分类化管理，将sql隔离
    注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace为对应的mapper接口地址
-->
<mapper namespace="com.hardes.mappers.OrdersMapper">


    <!--一对一映射,还用resultType-->
    <select id="findOrdersAndUsersByOid" parameterType="int" resultType="com.hardes.pojos.OrdersExt">
        SELECT *

        FROM users,orders WHERE  orders.id=#{oid} AND orders.user_id= users.id
    </select>

</mapper>