<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace命名空间，作用就是对sql进行分类化管理，将sql隔离
    注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace为对应的mapper接口地址
-->
<mapper namespace="com.hardes.mappers.UsersMapper">

    <resultMap id="findOrdersAndUsersReM" type="com.hardes.pojos.Users">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <result column="sex" property="sex"/>


        <association property="orders" javaType="com.hardes.pojos.Orders">
            <id column="oid" property="id"/>
            <result column="number" property="number"/>
            <result column="user_id" property="userId"/>
            <result column="time"   property="time"/>
        </association>
    </resultMap>

    <select id="findOrdersAndUsersByOid1" parameterType="int" resultMap="findOrdersAndUsersReM">
        SELECT
            users.id uid,
            users.username,
            users.sex,
            orders.id oid,
            orders.number,
            orders.user_id,
            orders.time

         FROM users,orders WHERE  users.id=#{id} AND users.id=orders.user_id
    </select>





</mapper>